<html>
<head>
<title>Test management</title>
</head>
<body>

<h1>Test management</h1>

Welcome to Test management

<P>{{var1}}</P>

<p>List of testing</p>

<ul>
    <li><a href="http://127.0.0.1:8000/test2/">Post method</a></li>
    <li><a href="http://127.0.0.1:8000/test3/">Front End management</a></li>
    <li><a href="http://127.0.0.1:8000/test4/">Test 1234</a></li>
    <li><a href="http://127.0.0.1:8000/accounts/register">register testing</a></li>
    <li><a href="http://127.0.0.1:8000/accounts/login">login testing</a></li>
    <li><a href="http://127.0.0.1:8000/test8">Intruder History testing</a></li>
    <li><a href="http://127.0.0.1:8000/test9">Line API testing</a></li>
    <li><a href="http://127.0.0.1:8000/test10">IP camera connection testing</a></li>
    <li><a href="http://127.0.0.1:8000/test11">ERROR management testing</a></li>
    <li><a href="http://127.0.0.1:8000/test12">Test modal popup</a></li>
    <li><a href="http://127.0.0.1:8000/test13">Test change status</a></li>
    
    

</ul>

<p>Front end : testing</p>

<ul>
    <li><a href="http://127.0.0.1:8000/loginpage/">login page</a></li>
    <li><a href="http://127.0.0.1:8000/mainpage/">main page</a></li>
    

</ul>

I will display queryset &#x25BA;<a href="http://127.0.0.1:8000/test1/">Click here</a> 

<p></p>

<form>
    <input type="button" value="Go back!" onclick="history.back()">
</form>

</body>
</html>